<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'info', user: @user %>
      <h2 class="mt-3">New book</h2>
      <%= render 'books/form', book: @book %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>Books</h2>
        <%= render 'books/index',books: @books %>

      <h2>7日間分の投稿数</h2>
        <table class='table table-bordered',border="1">
          <tr>
            <th>6日前</th>
            <th>5日前</th>
            <th>4日前</th>
            <th>3日前</th>
            <th>2日前</th>
            <th>1日前</th>
            <th>今日</th>
          </tr>
          <tr>
            <td><%= @day6.count %></td>
            <td><%= @day5.count %></td>
            <td><%= @day4.count %></td>
            <td><%= @day3.count %></td>
            <td><%= @day2.count %></td>
            <td><%= @day1.count %></td>
            <td><%= @today.count %></td>
          </tr>
        </table>

        <canvas id="myChart"></canvas>
        <!--<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>-->
          <script>
          $(document).on('turbolinks:load', function() {
            var ctx = document.getElementById("myChart");
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ["6日前", "5日前", "4日前", "3日前", "2日前", "1日前", "今日"],
                    datasets: [{
                        label: '投稿数',
                        borderColor: "rgba(71,222,131,1)",
                        data: [<%= @day6.count %>, <%= @day5.count %>, <%= @day4.count %>, <%= @day3.count %>, <%= @day2.count %>, <%= @day1.count %>, <%= @today.count %>],
                        borderWidth: 2
                    }],
                },
                options: {
                   scales: {                          //軸設定
                      yAxes: [{                      //y軸設定
                        ticks: {                      //最大値最小値設定
                            min: 0,                   //最小値
                            max: 30,                  //最大値
                            stepSize: 1               //軸間隔
                        }
                      }]
                   },
                  elements: {
                        line: {
                           tension: 0.15, // ベジェ曲線.0で無効にする
                              }
                            }
                }
            });
          });
        </script>
    </div>
  </div>
</div>
